<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base (~{::title},
                                         _,
                                         _,
                                         _,
                                         ~{::section})}">
<head>
    <title>Page Not Found</title>
</head>
<body>
<section>
        <p id="error_code" class="error-code text-center">[404]</p>
        <p class="error-message text-center">Sorry! The page you requested was not found.</p>
</section>
</body>
</html>